@import './h5p-jigsaw-puzzle-main.scss';

.h5p-jigsaw-puzzle {

  .h5p-jigsaw-puzzle-content {

    .h5p-jigsaw-puzzle-puzzle-area {
      display: flex;
      flex-direction: row;

      .h5p-jigsaw-puzzle-tile-container {
        background-color: white;
        background-size: cover;
        border: $border-width-normal solid $color-grey-0-10;
        box-shadow: $box-shadow-normal;
        width: 100%;

        &.hint {
          z-index: 3;
        }
      }
    }

    .h5p-jigsaw-puzzle-overlay {
      background-color: $color-grey-0-30;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;

      &.disabled {
        display: none;
      }
    }
  }

  .h5p-question-buttons {

    .h5p-question-toggle-background-music::before {
        content: "\F026";
    }

    .h5p-question-toggle-background-music.mute::before {
        content: "\F028";
    }

    .h5p-question-complete::before {
        content: "\F11E";
    }

    .h5p-question-hint::before {
        content: "\F21B";
    }

  }
}
