.h5p-jigsaw-puzzle {

  .h5p-jigsaw-puzzle-puzzle-area {
    display: flex;
    flex-direction: row;

    .h5p-jigsaw-puzzle-tile-container {
      background-size: cover;
      border: 2px solid #808080;
      width: 100%;
    }

    .h5p-jigsaw-puzzle-tile {
      position: absolute;

      &:not([disabled]) {
        cursor: move;
      }

      &[disabled] {
        z-index: -1;
      }

      &.onTop {
        z-index: 1;
      }

      &.ghosted {
        opacity: 0;
      }

      &.animate-move {
        transition: left 0.5s, top 0.5s;
      }

      svg {
        filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .5));
      }
    }

    .h5p-jigsaw-puzzle-overlay {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;

      &.disabled {
        display: none;
      }
    }
  }

  .h5p-question-buttons {

    .h5p-question-toggle-background-music::before {
        content: "\F026";
    }

    .h5p-question-toggle-background-music.mute::before {
        content: "\F028";
    }

    .h5p-question-complete::before {
        content: "\F11E";
    }

    .h5p-question-hint::before {
        content: "\F21B";
    }

  }
}
